body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #28a745;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.contato-info {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

footer {
    margin-top: 20px;
    color: #000000;
}
